.home-page {
    margin: 0 auto;
    position: absolute;
    /*position: fixed;*/
    top: calc(12%);
    width: 100%;
    display: flex;
}

.home-page .right-side {
    width: 70%;
    padding-bottom: 3%;
}

.home-page .left-side {
    width: 30%;
}

