.home-page {
    margin: 0 auto;
    position: absolute;
    /*position: fixed;*/
    top: calc(12%);
    width: 100%;
    display: flex;
}

.right-side {
    width: 70%;
}

.left-side {
    width: 30%;
}

