.navbar {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.navbar a {
    border: none;
    padding: 1% 1.5%;
    font-size: 120%;
    border-radius: 8px;
    color: #D8E8CE;
    background-color: #396822;
    margin: 1%;
}