.result-list {
    width: 100%;
    display: flex;
    max-height: 100%;
    flex-flow: column nowrap;
    overflow-y: scroll;
    align-items: center;
    padding-top: 2%;
    overflow: visible;
}

.result-list::-webkit-scrollbar {
    width: 5px;
}

.result-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: none;
    border-radius: 50px;
}