.result-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow-y: auto;
    padding-top: 2%;
}

.result-list::-webkit-scrollbar {
    width: 5px;
}

.result-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: none;
    border-radius: 50px;
}