.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12%;
    background-color: #396822;
}

.header .header-content {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    background-image: url('logo160.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 10%;
    height: 65%;
}

.user-avatar {
    cursor: pointer;
}

.menu-list-text {
    text-decoration: none;
    color: #213C14;
}

#menu-list-grow {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    background-color: transparent;
}