.login-page {
    width: 100%;
    height: 100%;
    margin: 12% auto;

}

.login-btn {
    display: flex;
    flex-flow: column;
    align-items: center;

}

.login-btn h1{
    padding-top: 50px;
    padding-bottom: 50px;
}