.group-page {
    width: 100%;
    height: 100%;
    position: absolute;
    flex-wrap: wrap;
}

.group-page .group-page-img img{
    object-fit: cover;
    display: flex;
    position: absolute;
    width: 70%;
    height: 100%;
    left: 30%;
    top: 0;
}

.group-page .group-page-info {
    color: #213C14;
}

.group-page-info .info-item {
    display: flex;
    align-items: center;
    margin:2%;
}

.info-item p {
    font-size: 120%;
}

.info-item h3 {
    display: flex;
    margin-left: 3%;
    font-size: 120%;
    font-weight: normal;
}

.group-page-info h1 {
    position: relative;
    margin: 2%;
}

.group-page-info button {
    position: absolute;
    border: none;
    margin-left: 2%;
    padding: 1% 4%;
    font-size: 130%;
    border-radius: 5px;
    color: #D8E8CE;
    background-color: #396822;
}
