.group-page {
    width: 100%;
    height: 100%;
    position: absolute;
    flex-wrap: wrap;
}

.request-alert {
    margin: auto auto;
    width: 20%;
    height: 10%;
}

.request-alert .modal {
    background-color: #D8E8CE;
    color: #213B14;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-alert p {
    text-align: center;
}

.group-page .group-page-img{
    position: absolute;
    right: 0;
    left: 30%;
    top: 8%;

}

/*.page-info .info-item {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin-bottom: 2%;*/
/*}*/

/*.page-info .info-item p {*/
/*    font-size: 120%;*/
/*}*/

.page-info .info-item h3 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
    font-size: 120%;
    font-weight: normal;
}

/*.page-info h1 {*/
/*    position: relative;*/
/*    margin: 2%;*/
/*}*/

.join-group{
    position: relative;
    border: none;
    margin-left: 2%;
    padding: 1% 4%;
    font-size: 130%;
    border-radius: 5px;
    color: #D8E8CE;
    background-color: #396822;
}

.page-info.go-back{
    border: none;
    padding: 2px 2px;
    font-size: 100%;
    border-radius: 5px;
}

.success{
    position: relative;
    border: none;
    margin-left: 2%;
    padding: 1% 4%;
    font-size: 130%;
    border-radius: 5px;
    color: #D8E8CE;
    background-color: #396822;
    margin-bottom: 2%;
}
